body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(3, 86, 111, 0.673);
}

.music-player {
    background: rgba(2, 99, 108, 0.688);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgb(3, 253, 82);
    text-align: center;
}

.controls {
    margin-top: 10px;
}

button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #c10c0cb4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
